.todos-table {
    width: 100%;
    outline-style: solid;
    outline-width: 2px;
    outline-color: #ff0000;
}

.table-head-row {
    outline-style: solid;
    outline-width: 2px;
    outline-color: #00c000;
}

.table-body-row {
    outline-style: solid;
    outline-width: 2px;
    outline-color: #a8bb00;
}