<div class="main-container">
  <div class="login-container">
    <h1>Register</h1>
    @if(showErrorMessage) {
    <p>{{ showErrorMessage }}</p>
    }
    <form [formGroup]="registerForm" (submit)="onSubmit()">
      <div class="form-group">
        <mat-form-field appearance="outline">
          <mat-label>Firstname</mat-label>
          <input
            matInput
            placeholder="Firstname..."
            formControlName="firstname"
            minlength="1"
            required
          />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Lastname</mat-label>
          <input
            matInput
            placeholder="Lastname..."
            formControlName="lastname"
            minlength="1"
            required
          />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>E-Mail</mat-label>
          <input
            matInput
            type="email"
            placeholder="beispiel@web.de"
            formControlName="email"
            minlength="1"
            required
          />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Username</mat-label>
          <input
            matInput
            placeholder="Username..."
            formControlName="username"
            minlength="1"
            required
          />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input
            matInput
            type="password"
            placeholder="Password..."
            formControlName="password"
            minlength="1"
            required
          />
        </mat-form-field>
      </div>
      <button type="submit">Register</button>
    </form>
    <p>Already have an account? <a routerLink="/login">Login here</a></p>
  </div>
</div>
